<h1 class="subtitle is-4">Credits</h1>
<div class="content">
	<p class="is-medium">Alejandro Jarabo Peñas</p>
	<p class="is-small">CORE 2019 - ETSIT UPM</p>
	<img class=image src="/images/myAvatar.png"/>
</div>