<h2 class="login">We missed u!</h2>
<form method="get" action="/check">
    <table class="login">
        <tr>
            <td>
                <span class="username">Username:</span>
                <input type="text" class="username" name="username" autocomplete="off">
            </td>
        </tr>
        <tr>
            <td>
                <span class="password">Password:</span>
                <input type="password" class="password" name="password" autocomplete="off">
            </td>
        </tr>
        <tr>
            <td>
                <input type="submit" class="button" value="Log In">
            </td>
        </tr>
    </table>
</form>