<h2 class="signup">Welcome! Create an account and start playing!</h2>
<form method="post" action="/signup">
    <table class="signup">
        <tr>
            <td>
                <span class="username">Username:</span>
                <input type="text" class="username" name="username" autocomplete="off">
            </td>
        </tr>
        <tr>
            <td>
                <span class="password">Password:</span>
                <input type="password" class="password" name="password" autocomplete="off">
            </td>
        </tr>
        <tr>
            <td>
                <span class="password">Repeat Password:</span>
                <input type="password" class="password" name="password2" autocomplete="off">
            </td>
        </tr>
        <tr>
            <td>
                <input type="submit" class="button" value="Sign Up">
            </td>
        </tr>
    </table>
</form>