body{
	font-size: large;
	background: #white;
}
#mainHeader h1 {
	text-align: center;
	font-weight: normal;
	color: #ffffff;
	text-transform: uppercase;
	white-space: nowrap;
	font-size: 2em;
	z-index: 1000;
	font-family: 'Bangers', cursive;
	text-shadow: 5px 5px 0 rgba(0, 0, 0, 0.7);
@include skew(0, -6.7deg, false);
@include transition-property(font-size);
@include transition-duration(0.5s);
}

#page:after{
	content: "Smartphone Layout";
}

.no-narrow{
	display: none;
}