@import "compass/css3";

@import "compass/css3/transform";
@import url(https://fonts.googleapis.com/css?family=Bangers);

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

#page{
	display: flex;
	flex-flow: row wrap;
	margin: 2px auto;
	padding: 0px;
}

.main{
	flex: 1 100%;
	border: 1px solid #999;
	padding: 2px;
	margin: 1px;
}

#mainHeader {
	margin: 0 auto;
	background: linear-gradient(-90deg, #FFC107 , #E91E63);
	border-radius: 5px;
}

#mainHeader h1 {
	text-align: center;
	font-weight: normal;
	color: #ffffff;
	text-transform: uppercase;
	white-space: nowrap;
	font-size: 5em;
	z-index: 1000;
	font-family: 'Bangers', cursive;
	text-shadow: 5px 5px 0 rgba(0, 0, 0, 0.7);
@include skew(0, -6.7deg, false);
@include transition-property(font-size);
@include transition-duration(0.5s);
}

#mainNav, #mainFooter{
	border-radius: 5px;
	text-align: center;
	padding: 5px 5px;
	background-color: #2196F3;
}
#mainNav a{
	padding: 0.25em 0.25em;
}

#mainSection{
	color: white;
	border-radius: 5px;
	padding: 5px 5px;
	background-color: #03A9F4;
}

#mainSection p{
	font-size:1.5em;
	color: #fff9ff;
}

#mainSection div.quizzesOptions a.button{
	position: initial;
}

.image {
	object-fit: cover;
  	max-width: 100%;
  	max-height: 100%;
}

.tips {
	font-size: 0.75em;
}

/* ------------------------- */

#flashinfo {
	width: auto;
	border: 2px solid blue;
	padding: 7px;
	padding-bottom: 0;
	margin-bottom: 20px;
	background-color: #f0f0f0;
	color: #000;
}

#flashinfo h3 {
	text-align: left;
	font-weight: bold;
	padding: 5px 5px 5px 15px;
	font-size: 12px;
	margin: -7px;
	margin-bottom: 0px;
	background-color: #00c;
	color: #ffffff;
}

#flashinfo ul li {
	margin: 5px 5px 5px 0px;
	font-size: 12px;
	list-style: square;
}

#flashsuccess {
	width: auto;
	border: 2px solid green;
	padding: 7px;
	padding-bottom: 0;
	margin-bottom: 20px;
	background-color: #f0f0f0;
	color: #000;
}

#flashsuccess h3 {
	text-align: left;
	font-weight: bold;
	padding: 5px 5px 5px 15px;
	font-size: 12px;
	margin: -7px;
	margin-bottom: 0px;
	background-color: #0c0;
}

#flashsuccess ul li {
	margin: 5px 5px 5px 0px;
	font-size: 12px;
	list-style: square;
}

#flasherror {
	width: auto;
	border: 2px solid red;
	padding: 7px;
	padding-bottom: 0;
	margin-bottom: 20px;
	background-color: #f0f0f0;
	color: #000;
}

#flasherror h3 {
	text-align: left;
	font-weight: bold;
	padding: 5px 5px 5px 15px;
	font-size: 12px;
	margin: -7px;
	margin-bottom: 0px;
	background-color: #c00;
}

#flasherror ul li {
	margin: 5px 5px 5px 0px;
	font-size: 12px;
	list-style: square;
}

/* ------------------------- */

.pagination > li {
	display: inline;
}

.right {
	float:right;
}

.quizzesOptions {
	float: left;
}

.title {
}

.quizzes {
}
/* ------------------------- */

input[type='text']{
	width: 100%;
	box-sizing: border-box;
	height: 2.5em;
	display: inline-block;
	border: 3px solid #FFC400;
	border-radius: 5px;
	padding: 0.25em 0.25em;
	margin: 10px 0;
	transition: .2s;
}

input[type='submit']{
	width: 100%;
	box-sizing: border-box;
	height: 2.5em;
	display: inline-block;
	border: 3px solid #00E676;
	border-radius: 5px;
	padding: 0.25em 0.25em;
	margin: 10px 0;
	transition: .2s;
}

input[type='text']:focus{
	outline: none;
	-moz-outline: none;
	-webkit-outline: none;
}

input[type='submit']:hover{
	background-color: darkslategray;
	color: #FFC400;
}

span{
	color: #C6FF00;
	font-size: 1.5em;
}

a,a:visited,a:hover,a:active{
	-webkit-backface-visibility:hidden;
	backface-visibility:hidden;
	position:relative;
	transition:0.5s color ease;
	text-decoration:none;
	color: #fff9ff;
	font-size:1.5em;
}
a:hover{
	color:#FFC400;
}
a.before:before,a.after:after{
	content: "";
	transition:0.5s all ease;
	-webkit-backface-visibility:hidden;
	backface-visibility:hidden;
	position:absolute;
}
a.before:before{
	top:-0.25em;
}
a.after:after{
	bottom:-0.25em;
}
a.before:before,a.after:after{
	height:5px;
	height:0.35rem;
	width:0;
	background:#d73444;
}
a.first:after{
	left:0;
}
#mainSection a.button{
	background-color: white;
	font-size: 1em;
	-webkit-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
	-moz-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
	-ms-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
	-o-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
	transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
	display: block;
	margin: 1px auto;
	max-width: 180px;
	text-decoration: none;
	border-radius: 4px;
	padding: 2px 3px;
}

#mainSection a.button {
	color: rgba(30, 22, 54, 0.6);
	box-shadow: rgba(30, 22, 54, 0.4) 0 0px 0px 2px inset;
}

#mainSection a.button:hover {
	color: #FFC400;
	box-shadow: rgba(30, 22, 54, 0.7) 0 0px 0px 40px inset;
}