<h2 class="check"><%=result%></h2>
  <p class="checkQuiz">
    <%if(result=="Correct"){%>
      <p>Congratulations</p>
      <a href="/quizzes" class="button">Go Back</a>
    <%}else{%>
      <p>Wrong Answer</p>
      <a href="/quizzes/<%=quiz.id%>/play" class="button" name="answer">Try Again</a>
      <a href="/quizzes" class="button">Go Back</a>
    <%}%>