<div class="content">
  <h2 class="subtitle is-4">Edit Quiz</h2>

  <form method="post" action="/quizzes/<%=quiz.id%>?_method=PUT">

    <ul>

      <li>
        <span class="tag is-dark is-medium">Question:</span>
        <input type="text" value="<%=quiz.question%>" class="input is-primary" name="question" autocomplete="off">
      </li>

      <li>
        <span class="tag is-dark is-medium">Answer:</span>
        <input type="text" value="<%=quiz.answer%>" class="input is-primary" name="answer" autocomplete="off">
      </li>

      <li>
        <input type="submit" class="button is-warning" value="Edit Quiz">
      </li>

    </ul>
              
  </form>
</div>