<h1>Add New Quiz</h1>
<form method="post" action="/quizzes>
    <table class="editQuiz">
        <tr>
            <td>
                <input type="text" placeholder="Question" class="answer" name="question" autocomplete="off">
            </td>
        </tr>
        <tr>
            <td>
                <input type="text" placeholder="Answer" class="answer" name="answer" autocomplete="off">
            </td>
            <td>
                <input type="submit" class="button" value="Add Quiz">
            </td>
        </tr>
    </table>
</form>