<h2 class="play">Play Quiz <%=quiz.id%></h2>
<form method="get" action="/quizzes/<%=quiz.id%>/check">
  <table class="playQuiz">
        <tr>
            <td>
                <span class="question"><%=quiz.question%></span>
                <input type="text" placeholder="Answer" class="answer" name="answer" autocomplete="off">
            </td>
        </tr>
        <tr>
            <td>
                <input type="submit" class="button" value="Check">
            </td>
        </tr>
  </table>
</form>

<table class="tips">
    <tr>
        <td>
            <h3>Quiz Tips:</h3>
        </td>
    </tr>
    <tr>
        <td>
            <% if(session.user){ %>
                <% include ../tips/new %>
            <% } %>
        </td>
    </tr>
    <tr>
        <td>
            <% var tips = quiz.tips; %>
            <% var quizId = quiz.id; %>
            <% var quizAuthorId = quiz.authorId; %>
        </td>
    </tr>
            <% include ../tips/index %>
    <tr>
        <td>
            <a href="/quizzes" class="button">Go Back</a>
        </td>
    </tr>
</table>
