<h2 class="show">Show Quiz <%=quiz.id%></h2>
    <p class="question">Question: <%=quiz.question%></p>
    <p class="answer">Answer: <%=quiz.answer%></p>
    <a href="/quizzes" class="button">Go Back</a>