<div class="content">
	<div class="columns">
		<div class="column is-two-thirds">
			<h2 class="subtitle is-4">Asignaturas de Tercero</h2>
		</div>
	</div>

    <div class="columns">

        <div class="column is-two-thirds">
            <ul>

              <h2 class="subtitle is-4">Primer Cuatrimestre:</h2>

              <li>
                <a href="/quizzes" class="subtitle is-5">RDOR (Redes de Ordenadores)</a>
              </li>

              <li>
                <a href="/quizzes" class="subtitle is-5">RDPR (Radiación y Propagación)</a>
              </li>

              <h2 class="subtitle is-4">Segundo Cuatrimestre:</h2>

              <li>
                <a href="/quizzes" class="subtitle is-5">SDG2 (Sistemas Digitales 2)</a>
              </li>

              <li>
                <a href="/quizzes" class="subtitle is-5">CORE (Computación en Red)</a>
              </li>

            </ul>
        </div>

    </div>
</div>
